html ,body{
    
/*     background-color: #130e0e; */
    background-color: #043739;
    width: 100%;
    height: 100%;
    margin: 0px;
    color: white;
}

.Title{

    padding: 10em 0em ;
}


#title{
    font-size: 6em;
    font-family: 'Redressed', cursive;

    
}


/* .MainCanvas{
    background-color: #130e0e;
    width: 100%;
    height: 100%;

    min-height: 200em;
} */

.IntroWrapper{

/*     margin-top: 8em; */
    background-color: #282828;
    min-height: 30em; 
    padding: 2em 2em;
    max-width: 80%;
    
    border: solid 2em black;
}


img {
  display: block;
  /* max-width:230px;
  max-height:95px;
  width: auto;
  height: auto; */
    overflow: hidden;
object-fit: contain;
}


.FormWrapper{
    
    margin-top: 8em;
    background-color: #282828;
    min-height: 30em; 
    padding: 2em 2em;
    max-width: 80%;
    
    border: solid 2em black;
}

.Stage{

    
}


.ReplyWrapper{

    padding: 0em 0em;
    
    margin-top: 8em;
    background-color: #282828;
    min-height: 4em;
    max-width: 80%;

    border: solid 2em black;
}



@media (max-width: 576px) {

    .FormWrapper{
        border-bottom: 0em; 
        border-top: 0em;
        margin-top: 0em;
        min-width: 100%;
        padding: 0em;
    }

    .ReplyWrapper{
       
        /* border-top: 0em; */
        margin-top: 0em;
        min-width: 100%;
        padding: 0em;
    }
    
    .IntroWrapper{
        
        border-bottom: 0em;
        min-width: 100%;
        padding: 0em;

    }
}


/* .Form{
    width: 100%;

}

.FormWrapper{
    height: 30em;
    width: 70%;
}

.FormWrapper{
    
    background-color: #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

.FormTextBox{
    width: 50%;
    height: 5em;
    
    display:inline-block;
}

.LabelDiv{
    display: inline-block;
}

.FormTextBoxWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end ;
    align-items: center;
    align-content: space-evenly;
}

.FormButton{

} */

.ButtonDiv{

  margin-top: 2em; 
}




